{% extends 'base/base.html' %}
{% block content%}
<div class="row">
  <div class="col l6 offset-l3 m8 offset-m2 s12">
    <div class="card-panel yellow lighten-2">
      For <b>Customer</b> Signup/Login <a href="/user/login">Click Here</a>
    </div>
  </div>
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel ">
             {% if messages %}
  {% for messsage in messages %}
  {% if messsage.tags == 'info' %}
 <div class='chip green white-text'>{{messsage}}</div>
 {% endif %}
  {% if messsage.tags == 'warning' %}
 <div class='chip red white-text'>{{messsage}}</div>
 {% endif %}
 <br>
  {% endfor %}
  {% endif %}
        <div class="center">
</div>
        <ul class="tabs ">
       <li class="tab col s6"><a class="active black-text" href="#login" style="font-family:Stylish;font-size:1.3rem">Login</a></li>
      
     </ul>
     <div class="row">
     <div id="login" class="col s12">
         <h4 class="center" style="font-family:Stylish">Login as Room Manager</h4>
     <form class="col s12" method="POST" action="/manager/login1">
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix red-text text-lighten-2">person_pin</i>
         <input type="text" name="username" id="username" required placeholder="Enter Username">
       </div>
       <div class="input-field col s12">
         <i class="material-icons prefix red-text text-lighten-2">vpn_key</i>
         <input type="password" name="password" id="password" required placeholder="Enter Password">
       </div>
       {% csrf_token %}
          <div class="center">
           <input type="submit" value="Login" class="btn green btn-large" name="login">
       </div>
     </div>
   </form>
     </div>
  

</div>
</div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
  $(document).ready(function()
  {
    $('select').select2({width: "100%"});
  });
</script>
{%endblock%}